### Carlos Eduardo Gómez Fandiño
### Entrega NLP

### Introducción:

Con la siguiente practica se busca hacer sentiment Anlaysis (clasificación de mensajes) de un grupo de mensajes (tweets), los cuales se clasificaran entre mensajes positivos y mensajes negativos.
El Dataset se obtiene desde la pagina web de Kaggle, que es compartido por la universidad de Michigan (https://inclass.kaggle.com/c/si650winter11/data). Alli podrémos descargar los dos fichero (.txt) en donde estan ya separados entre el test y el train.

### Descripción:
- El training data contiene 7.086 oraciones la cuales ya se encuentras clasificadas entre positivas o negativas.
- Mientras que el test data contiene 33.052 oraciones que no se encuentras con la columna class (que es la que queremos crear con su respectiva clasificación).

### Objetivos:

- Clasificar mensajes entre positivos y negativos.
- Encontrar el mejor algoritmo que permita tener una buena precisión.

In [1]:
### Importación de librarias
import pandas as pd
import numpy as np
from sklearn.cluster import KMeans
from sklearn import metrics
from sklearn.feature_extraction.text import CountVectorizer
import urllib
import nltk
import csv

In [2]:
# test_url = "https://kaggle2.blob.core.windows.net/competitions-data/inclass/2558/testdata.txt?sv=2015-12-11&sr=b&sig=bTkTTpUdXq8xO7feQeI0fTMA6FrQxRFmtbXXPgvaiR4%3D&se=2017-04-12T19%3A18%3A24Z&sp=r"
# train_url = "https://kaggle2.blob.core.windows.net/competitions-data/inclass/2558/training.txt?sv=2015-12-11&sr=b&sig=qgpxi7tCay5%2FQjbf72ka%2FCSXJ51%2BAHuvvKFfMSSTW1M%3D&se=2017-04-12T19%3A18%3A25Z&sp=r"  

# test = urllib.urlretrieve(test_url, 'test_data.csv')
# train = urllib.urlretrieve(train_url, 'train_data.csv')

In [3]:
test_df = pd.read_csv('test_data.csv', header=None, delimiter = "\t", quoting=3)
test_df.columns = ['Text']
train_df = pd.read_csv('train_data.csv', header=None, delimiter = "\t", quoting=3)
train_df.columns = ['Sentiment' , 'Text']

In [4]:
test = list(test_df['Text'])
test_df.head()

                                                Text
0  " I don't care what anyone says, I like Hillar...
1                  have an awesome time at purdue!..
2  Yep, I'm still in London, which is pretty awes...
3  Have to say, I hate Paris Hilton's behavior bu...
4                            i will love the lakers.

In [5]:
train = list(train_df['Text'])
train_df.head()

   Sentiment                                               Text
0          1            The Da Vinci Code book is just awesome.
1          1  this was the first clive cussler i've ever rea...
2          1                   i liked the Da Vinci Code a lot.
3          1                   i liked the Da Vinci Code a lot.
4          1  I liked the Da Vinci Code but it ultimatly did...

In [6]:
import re, nltk
from nltk.stem.porter import PorterStemmer
stemmer = PorterStemmer()

In [7]:
def stem_tokens(tokens, stemmer):
    stemmed = []
    for item in tokens:
        stemmed.append(stemmer.stem(item))
    return stemmed

In [8]:
def tokenize(text):
    # remove non letters
    text = re.sub("[^a-zA-Z]", " ", text)
    # tokenize
    tokens = nltk.word_tokenize(text)
    # stem
    stems = stem_tokens(tokens, stemmer)
    return stems

In [9]:
from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer
count_vect = CountVectorizer(analyzer = 'word', tokenizer=tokenize, lowercase=True, stop_words='english', max_features=100)
tfidf_vect = TfidfVectorizer(analyzer = 'word', tokenizer=tokenize, lowercase=True, stop_words='english', max_features=100)

In [10]:
### Fitting the dataset
# text_tf = count_vect.fit_transform(train_df.Text.tolist() + test_df.Text.tolist())
text_train_fit = count_vect.fit(train_df.Text.tolist())
# text_test_fit = count_vect.fit(test_df.Text.tolist())

# text_tfidf = tfidf_vect.fit_transform(train_df.Text.tolist() + test_df.Text.tolist())
text_train_tfidf_fit = tfidf_vect.fit(train_df.Text.tolist())
# text_test_tfidf_fit = tfidf_vect.fit(test_df.Text.tolist())

In [11]:
### Transforming the dataset
text_train_trns = text_train_fit.transform(train_df.Text.tolist())
# text_test_trns = text_test_fit.transform(test_df.Text.tolist())

text_train_tfidf_trns = text_train_tfidf_fit.transform(train_df.Text.tolist())
# text_test_tfidf_trns = text_test_tfidf_fit.transform(test_df.Text.tolist())

In [12]:
# text_tf_nd = text_tf.toarray()
# text_tf_nd.shape
text_train_ft = text_train_trns.toarray()
# text_test_ft = text_test_trns.toarray()

print 'dimension train', text_train_ft.shape
# print 'dimension test',text_test_tf_nd.shape

dimension train (7086L, 100L)

In [13]:
# text_tfidf_nd = text_tfidf.toarray()
# text_tfidf_nd.shape
text_train_tfidf_ft  = text_train_tfidf_trns.toarray()
# text_test_tfidf_ft = text_test_tfidf_trns.toarray()
print 'dimension train', text_train_tfidf_ft.shape
# print 'dimension test',text_test_tfidf_ft.shape

dimension train (7086L, 100L)

In [14]:
df = pd.DataFrame(text_train_ft, columns=count_vect.get_feature_names())
df.head(5)

,absolut,alway,anyon,awesom,beauti,becaus,better,big,book,bore,...,vinci,wa,wait,want,watch,way,went,whi,worth,yeah
0,0,0,0,1,0,0,0,0,1,0,...,1,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,1,0,...,1,1,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0

In [15]:
pd.DataFrame(text_train_tfidf_ft, columns=tfidf_vect.get_feature_names()).head(5)

,absolut,alway,anyon,awesom,beauti,becaus,better,big,book,bore,...,vinci,wa,wait,want,watch,way,went,whi,worth,yeah
0,0.0,0.0,0.0,0.354805,0.0,0.0,0.0,0.0,0.597834,0.0,...,0.283149,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.384610,0.0,...,0.182161,0.226146,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.000000,0.0,...,0.450416,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.000000,0.0,...,0.450416,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.000000,0.0,...,0.300283,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [16]:
vocab = count_vect.get_feature_names()
print(vocab)

[u'absolut', u'alway', u'anyon', u'awesom', u'beauti', u'becaus', u'better', u'big', u'book', u'bore', u'brokeback', u'care', u'charact', u'cock', u'code', u'cool', u'cowboy', u'da', u'daniel', u'depress', u'die', u'differ', u'doe', u'don', u'excel', u'felicia', u'film', u'friday', u'friend', u'fuck', u'fun', u'gay', u'good', u'got', u'great', u'guy', u'hard', u'harri', u'hate', u'heard', u'hi', u'horribl', u'imposs', u'joke', u'just', u'know', u'left', u'let', u'like', u'love', u'make', u'man', u'mission', u'mom', u'mountain', u'movi', u'na', u'need', u'oh', u'ok', u'onli', u'opinion', u'peopl', u'person', u'place', u'potter', u'read', u'realli', u'review', u'right', u'rock', u's', u'said', u'saw', u'say', u'seen', u'seri', u'start', u'stori', u'stupid', u'suck', u't', u'terribl', u'thi', u'thing', u'think', u'thought', u'time', u'tom', u'turn', u'vinci', u'wa', u'wait', u'want', u'watch', u'way', u'went', u'whi', u'worth', u'yeah']

### Logistic Regression

In [17]:
from sklearn.cross_validation import train_test_split
# X_train, X_test, y_train, y_test  = train_test_split(text_tf_nd[0:len(train_df)], train_df.Sentiment, train_size=0.80, random_state=1, stratify=train_df.Sentiment)
X_train, X_test, y_train, y_test  = train_test_split(text_train_ft, train_df.Sentiment, train_size=0.80, random_state=1, stratify=train_df.Sentiment)

C:\Users\cgome\Anaconda2\lib\site-packages\sklearn\cross_validation.py:44: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [18]:

from sklearn.linear_model import LogisticRegression
# Create and train the Logistic Regression Classifier
log_model = LogisticRegression()
log_tf_model = log_model.fit(X=X_train, y=y_train)

In [19]:
y_pred = log_tf_model.predict(X=X_test)
y_pred_prob = log_tf_model.predict_proba(X=X_test)[:,1]

In [20]:
from sklearn import metrics
print(metrics.classification_report(y_test, y_pred))
print("accuracy: %0.5f" % metrics.accuracy_score(y_test, y_pred))

             precision    recall  f1-score   support

          0       0.99      0.98      0.99       619
          1       0.99      0.99      0.99       799

avg / total       0.99      0.99      0.99      1418

accuracy: 0.98872

In [21]:
test_fitted = text_train_fit.transform(test_df.Text)
test_fitted_ =test_fitted.toarray()
y_pred_test = log_tf_model.predict(X=test_fitted_)
test_df['Logit_pred'] = y_pred_test
test_df.head()

                                                Text  Logit_pred
0  " I don't care what anyone says, I like Hillar...           1
1                  have an awesome time at purdue!..           1
2  Yep, I'm still in London, which is pretty awes...           1
3  Have to say, I hate Paris Hilton's behavior bu...           0
4                            i will love the lakers.           1

### K-Means

Division de pruebas test y train para entrenar el modelo K-means

In [22]:
X_train, X_test, y_train, y_test  = train_test_split(text_train_ft, train_df.Sentiment, train_size=0.80, random_state=1, stratify=train_df.Sentiment)

In [23]:
k=2
km = KMeans(n_clusters=k,max_iter=100)
kmeans_model = km.fit(X_train)
y_pred = kmeans_model.predict(X_test)

In [24]:
from sklearn import metrics
print(metrics.classification_report(y_test, y_pred))
print("accuracy: %0.5f" % metrics.accuracy_score(y_test, y_pred))

             precision    recall  f1-score   support

          0       0.41      0.66      0.50       619
          1       0.49      0.26      0.34       799

avg / total       0.45      0.43      0.41      1418

accuracy: 0.43159

In [25]:
# test_fitted = text_train_fit.transform(test_df.Text)
# test_fitted.toarray()
y_pred_km = kmeans_model.predict(X=test_fitted_)
test_df['Kmeans_pred'] = y_pred_km
test_df.head()

                                                Text  Logit_pred  Kmeans_pred
0  " I don't care what anyone says, I like Hillar...           1            0
1                  have an awesome time at purdue!..           1            0
2  Yep, I'm still in London, which is pretty awes...           1            0
3  Have to say, I hate Paris Hilton's behavior bu...           0            0
4                            i will love the lakers.           1            0

Como vemos el K-means no es un modelo muy bueno ya que tenemos un accuracy del 43%

### Extra Trees Classifier Model

In [26]:
from sklearn.ensemble import ExtraTreesClassifier
tree_mod = ExtraTreesClassifier()
tree_model = tree_mod.fit(X_train, y_train)

In [27]:
y_pred = tree_model.predict(X_test)
print(metrics.classification_report(y_test, y_pred))
print("accuracy: %0.5f" % metrics.accuracy_score(y_test, y_pred))

             precision    recall  f1-score   support

          0       0.99      0.99      0.99       619
          1       0.99      0.99      0.99       799

avg / total       0.99      0.99      0.99      1418

accuracy: 0.98801

Podemos observar que el modelo Extra Trees classifier tiene un accuracy del 98.8%, asi muy parecido al modelo del Logit

In [28]:
# test_fitted = text_train_fit.transform(test_df.Text)
# test_fitted.toarray()
y_pred_tree = tree_model.predict(test_fitted_)
test_df['Tree_pred'] = y_pred_tree
test_df.head()

,Text,Logit_pred,Kmeans_pred,Tree_pred
0,""" I don't care what anyone says, I like Hillar...",1,0,1
1,have an awesome time at purdue!..,1,0,1
2,"Yep, I'm still in London, which is pretty awes...",1,0,1
3,"Have to say, I hate Paris Hilton's behavior bu...",0,0,0
4,i will love the lakers.,1,0,1

### Naive Bayes Classifier Model

In [29]:
from sklearn.naive_bayes import GaussianNB
X_train, X_test, y_train, y_test  = train_test_split(text_train_ft, train_df.Sentiment, train_size=0.80, random_state=1, stratify=train_df.Sentiment)
bayes = GaussianNB()
bayes_model = bayes.fit(X=X_train, y=y_train)

In [30]:
y_pred = bayes_model.predict(X=X_test)
print(metrics.classification_report(y_test, y_pred))
print("accuracy: %0.5f" % metrics.accuracy_score(y_test, y_pred))

             precision    recall  f1-score   support

          0       0.97      0.93      0.95       619
          1       0.95      0.98      0.96       799

avg / total       0.96      0.96      0.96      1418

accuracy: 0.95769

Finalmente el modelo Naive Bayes es el tercer mejor modelo de clasificación para sentiment analysis para este trabajo, con un accuracy del 95.76%.

In [31]:
# test_fitted = text_train_fit.transform(test_df.Text)
# test_fitted.toarray()
y_pred_bayes = bayes_model.predict(X=test_fitted_)
test_df['Bayes_pred'] = y_pred_bayes
test_df.head()

,Text,Logit_pred,Kmeans_pred,Tree_pred,Bayes_pred
0,""" I don't care what anyone says, I like Hillar...",1,0,1,1
1,have an awesome time at purdue!..,1,0,1,1
2,"Yep, I'm still in London, which is pretty awes...",1,0,1,1
3,"Have to say, I hate Paris Hilton's behavior bu...",0,0,0,0
4,i will love the lakers.,1,0,1,1

A continuación se muestra el ranking de los mejores modelos por accuracy para este trabajo de clasificación de mensajes entre positivos y negativos:
1. Logistic Regression: 98.87%
1. Extra Trees Classifier: 98.80%
1. Naive Bayes: 95.76%
1. K-means: 43.15%